@model Student

<h1 class="text-danger">
    student Id : @Model.ID <br />
    student name : @Model.Name <br />
    student age : @Model.Age <br />
    student department : @Model.Department.Name  <br />

</h1>

<form method="post" asp-route-id="@Model.ID">
    <input type="submit" class="btn btn-danger" value="Delete"/>
</form>